    .slider-background {
        border-radius: 10px;
        height: 240px;
        padding:10px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .iconBtn{
        filter: hue-rotate(240deg);
        height:40px;
        width:40px;
        border-radius: 50%;
    }
    .iconModule{
        filter: hue-rotate(240deg);
        width:min(15vw, 150px);
        height:min(15vw, 150px);
        border-radius: 50%;
    }
    .fontMain{
        margin-top:-3vw;
        position: relative;
        z-index:1;
        font-size:min(3vw, 36px);
        font-weight: bold;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #ccf,
        0 0 21px #99f,
        0 0 42px #66f;
    }
    .fontSub{
        position: relative;
        z-index:1;
        font-size:min(2vw, 24px);
        margin-top:max(-1vw, -12px);
    }

    .box {
        margin: 0 auto;
        position: relative;
        display: block;
        overflow: hidden;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #ccf;
    }

    .box__line {
        position: absolute;
    }

    .box__line:nth-child(1) {
        width: 100%;
        height: 2px;
    }

    .box__line:nth-child(2) {
        width: 2px;
        height: 100%;
    }

    .box__line:nth-child(1) {
        top: 0;
        left: 0;
        background: linear-gradient(to right, transparent, #CCF);
        animation: animate1 2s linear infinite;
    }


    .box__line:nth-child(2) {
        top: 0;
        right: 0;
        animation: animate2 2s linear infinite;
        animation-delay: 1s;
        background: linear-gradient(to bottom, transparent, #CCF);
    }

    .box__line:nth-child(3) {
        bottom: 0;
        left: 0;
        background: linear-gradient(to left, transparent, #CCF);
        animation: animate3 2s linear infinite;
    }

    .box__line:nth-child(4) {
        top: 0;
        left: 0;
        background: linear-gradient(to top, transparent, #CCF);
        animation: animate4 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes animate1 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    @keyframes animate2 {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(100%);
        }
    }

    @keyframes animate3 {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes animate4 {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(-100%);
        }

    }

    
