.scaleShow{
	transition: all 0.5s 0s ease;
	zoom:1.0;
}
.scaleHide{
	transition: all 0.5s 0s ease;
	zoom:1.0;
	transform:scale(0.0, 1.0);
	transform-origin: 0px 0px;
	position: absolute;
	transform-origin-y: 0px;
}
.error {
	font-size: smaller;
	color: red;
}